<div class="card blur">

  <img class="card-img-top" [src]="getImage()" alt="Character Landscape">

  <div class="card-body">
    <h2 class="card-title title text-white">{{ character.name }}</h2>
    <p class="card-text text-white">{{ character.description }}</p>
  </div>

  <app-list [items]="character.comics.items"></app-list>
  <app-list [items]="character.stories.items"></app-list>
  <app-list [items]="character.events.items"></app-list>
  <app-list [items]="character.series.items"></app-list>
</div>
