<!--
<p *ngFor="let character of allCharacters | async">
  {{ character | json }}
</p>
 -->
<div class="container">
  <div *ngFor="let character of allCharacters | async" class="card" style="width: 18rem;">
    <a href="#">
      <img class="card-img-top" src={{character.thumbnail.path}}.{{character.thumbnail.extension}} alt="Character Thumbnail">
    </a>
    <div class="card-body">
      <h5>{{ character.name }}</h5>
      <button type="button" class="btn btn-outline-dark">Description</button>
    </div>
  </div>
</div>
