#container-title {
  text-align: center;
  margin: 1.5rem;
}

.title {
  text-shadow: 1px 1px 7px black;
}

.row {
  margin: 2rem 4rem;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-evenly;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(6px);
}

.card {
  margin: 1.5rem 0.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.521);
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1s ease;
}

.inner:hover img {
  transform: scale(1.25);
}

.card-title {
  position: absolute;
  bottom: 0;
  text-shadow: 1px 1px 7px black;
}

.card-body {
  text-align: center;
}

.card a:hover {
  cursor: pointer;
}

.btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  border-radius: 3rem;
}

.btn:hover{
  background-color: #343a40;
  border: 1px solid #343a40;
  font-size: 2rem;
  color: #fff;
}

span {
  margin-left: -2px;
  transform: rotate(270deg);
  content: "\27B2";
}
